---
layout: default
title: Videographer Philadelphia, New York, DC
description: Video producer with experience in Marketing, Creative Direction, Direction,
  Direction of Photography, Scripting, Production, and Post Production
featured_image: https://res.cloudinary.com/martinobranding/image/upload/v1555769818/57373115_10217812902130996_5655117334801547264_o.jpg

---
<section class="hero">

	<div class="hero__image" style="background-image: url({{ page.featured_image }})">
		<div class="hero__overlay"></div>
	</div>

	<div class="wrap">

		<h1>Hi, I'm Adriano.<br/>I produce videos <br/>to help you make <br/>your point.</h1>
		<p>Video Content is the best tool<br/> to connect to your audience. <br/>I help you ideate, plan, execute, <br/> distribute, learn, repeat. </p>

		{% include socials.html %}

	</div>

</section>

<section class="listing">

	<div class="wrap">

		{% for project in site.projects reversed %}

		<article class="post">

			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url({{ project.featured_image }})"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<h2 class="post__title"><a href="{{ project.url }}">{{ project.title }}</a></h2>
					<p class="post__subtitle">{{ project.subtitle }}</p>
					<p class="post__description">{{ project.description }}</p>
				</div>
			</div>

		</article>

		{% endfor %}

	</div>

</section>