---
layout: default
title: Adriano Martino | Videographer Philadelphia, New York, DC
description: Video producer with experience in marketing, Creative Direction, Direction,
  Direction of Photography, Scripting, Production, and Post Production.
featured_image: Adriano_Martino_funny_face_t8baqc.jpg

---
<section class="hero">

<div class="wrap">

# Adriano Martino. Creative Director turned Videographer

Hey there

{% include socials.html %}</div>

</section>

<section class="listing">

<div class="wrap">{% for project in site.projects reversed %}

<article class="post">

<div class="post__content-wrap">

<div class="post__content">

## [{{ project.title }}]({{ project.url }})

{{ project.subtitle }}

{{ project.description }}

</div>

</div>

</article>

{% endfor %}</div>

</section>