---
layout: default
---

<section class="hero hero--single">

	<div class="hero__image" style="background-image: url({{ page.featured_image }})">
		<div class="hero__overlay"></div>
	</div>

	<div class="wrap">

		<h1>{{ page.title }}</h1>
		<p>{{ page.date | date_to_long_string }}</p>

	</div>

</section>

<section class="single">

	<div class="wrap">

		<article class="single-post">
				<!-- <div itemscope itemtype="https://schema.org/VideoObject"><meta itemprop="uploadDate" content="Thu Jul 25 2019 12:53:44 GMT-0400 (Eastern Daylight Time)"/><meta itemprop="name" content="132470138"/><meta itemprop="duration" content="P0D" /><meta itemprop="contentUrl" content="https://vimeo.com/132470138"/><script src="https://cdn.jwplayer.com/players/vAOx7dde-cXTdksWs.js"></script></div> -->
			{{ page.content }}

		</article>

		{% if page.comments %}
		{% include disqus.html %}
		{% endif %}

		<!-- related posts -->
		{% for p in site.related_posts %}

		<ul class="relatedpost center" id="relatedpost">
			<li class="postitem" id="postitem"><a href={{ p.url }}> <img src={{ p.thumbnail }}>
					<h4> {{ p.title }} </h4>{{ p.subtitle }}
				</a></li>

		</ul>
		{% endfor %}
	</div>

</section>