---
layout: default
---

<section class="hero hero--single">

	<div class="hero__image" style="background-image: url({{ page.featured_image }})">
		<div class="hero__overlay"></div>
	</div>

	<div class="wrap">

		<h1>{{ page.title }}</h1>
		<p>{{ page.date | date_to_long_string }}</p>

	</div>

</section>

<section class="single">

	<div class="wrap">

		<article class="single-post">

			{{ page.content }}

		</article>
		
		<!--Newsletter subscription form from Zurb -->
		<div class="simple-subscription-form">
		  <form>
		    <h4>Subscribe</h4>
		    <p>Receive updates and latest news direct from our team. Simply enter your email below :</p>
		    <div class="input-group">
		      <span class="input-group-label">
			<i class="fa fa-envelope"></i>
		      </span>
		      <input class="input-group-field" type="email" placeholder="Email" required>
		      <button class="button">Sign up now</button>
		  </form>
		</div>
		<!--End of Newsletter subscription form from Zurb -->


		<!-- related posts -->
		{% for p in site.related_posts %}
                 {{ p.title }}
                {% endfor %}
	</div>

</section>
